.upcoming-reservations-menu-container {
    position: absolute;
    background-color: white;
    height: 300px;
    width: 340px;
    display: flex;
    margin-left: -263px;
    margin-top: 360px;
    border: solid;
    border-color: rgb(235, 235, 235);
    border-radius: 2px;
}

.next-reservation-details-container {
    display: flex;
    flex-direction: column;

}

.upcoming-restaurant-icon {
    height: 35px;
}

.upcoming-reservations-false-container {
    margin-bottom: -400px;
    height: 100px;
}