.restaurant-nav-card-container {
    text-decoration: none;
    border-color: rgb(216, 217, 219);
    border-style: solid;
    margin: 10px;
    height: 350px;
    width: 276px;
    display: flex;
    flex-direction: column;
}

.restaurant-card-container {
    height: 100%;
}

.restaurant-preview-details {
    font-weight: 400;
    font: rgb(45, 51, 63);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.preview-image {
    height: 150px;
    width: 100%;
}

.restaurant-name-and-details-container {
    margin-left: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
    /* justify-content:space-around; */
}

/* .restaurant-preview-details {

} */

.booking-symbol {
    height: 15px;
    width: 20px;
}

.booking-symbol-container {
    margin-right: 5px;
    margin-top: 4px;
}

.booked-num {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
}

.preview-stars-reviews {
    font-weight: 400;
    font-size: 1.1rem;
}

.preview-cuisine-cost-neighborhood {
    font-weight: 400;
    font-size: .99rem;
}

.restaurant-card-name {
    font-size: 1.45rem;
    font-weight: 600;
}

.red-star {
    color: rgb(218, 54, 68);
    height: 50px;
    font-size: x-large;
}

.gray-star {
    color: rgb(225, 225, 225);
    font-size: x-large;
}

.card-star {
    font-size: 1rem;
}

.restaurant-card-lower {
    display: flex;
}

.preview-num-reviews {
    color: rgb(45, 51, 63);
    font-size: 1.2rem;
    padding-top: -5px;
}

.dark-gray-dollar {
    color: rgb(45, 51, 53);
}

.light-gray-dollar {
    color: rgb(204, 204, 204);
}