.restaurant-card-container {
    text-decoration: none;
    border-color: rgb(216, 217, 219);
    border-style: solid;
    margin: 10px;
    height: 390px;
    width: 276px;

}

.preview-image {
    height: 150px;
    width: 100%;
}

.restaurant-name-and-details-container {
    margin-left: 5px;
    color: black
}

/* .restaurant-preview-details {

} */

.booking-symbol {
    height: 15px;
    width: 20px;
}

.booking-symbol-container {
    margin-right: 5px;
    margin-top: 4px;
}

.booked-num {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
}

.preview-stars-reviews {
    font-weight: 400;
    font-size: large;
}

.preview-cuisine-cost-neighborhood {
    font-weight: 300;
    font-size: medium;
    font: bold;
    color: rgb(6, 7, 8)

}

/* .restaurant-card-name {

} */

.restaurant-preview-details {
    font-weight: 400;
    font: rgb(45, 51, 63)
}