.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.nav-bar-menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: 225px;
    height: 45px;
    margin-left: 27px;
    padding-right: 15px;
}

.profile-button {
    width: 50px;
    height: 50px;
}

.upcoming-reservations-button {
    height: 47px;
    width: 47px;
    padding-bottom: 4px;
}

.notifications-button {
    height: 44px;
    width: 44px;
    padding-bottom: 6px;
}

.notifications-button:hover {
    cursor: text;
}

.line-break {
    height: 50px;
    width: 50px;
}

.search-button {
    height: 30px;
    width: 30px;
    padding-bottom: 4px;
    padding-right: 30px;
}

.search-button:hover {
    cursor: text;
}

.above-nav {
    height: 33px;
    background-color: rgb(241, 242, 244);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.above-nav-img {
    height: 30px;
    width: 350px;
    margin-right: 20px;
}

.above-nav-img:hover {
    cursor: text;
}

.location-button {
    height: 34px;
    width: 150px;
    margin-bottom: 6px;
}

.location-line-break {
    margin-right: 15px;
    height: 50px;
}

.location-button:hover {
    cursor:not-allowed
}

.under-nav {
    height: 40px;
    border-top: solid;
    border-color: rgb(235, 235, 235);
    margin-bottom: 1px;
}

.under-nav-image {
    height: 40px;
    margin-left: 12px;
}

.under-nav-image:hover {
    cursor: text;
}
