.restaurant-profile-image {
    width: 100%;
    height: 460px;
    /* object-fit: cover; */
}









/* Tempoary CSS for building skeleton */

.restaurant-profile-upper {
    border: solid;
    border-color: rgb(138, 4, 27);
    object-fit: cover;
}
.restaurant-profile-lower {
    height: 1500px;
    background-color: lightblue;
}

.restaurant-profile-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    border: solid;
    border-color: pink;
}

.restaurant-profile-left {
    border: solid;
    border-color: yellow;
    width: 650px;
    margin-right: 50px;
}

.restaurant-profile-right {
    border: solid;
    border-color: yellow;
    width: 350px;
}

.make-a-reservation-container {
    height: 400px;
    border: solid;
    border-color: azure;
}

.overflow-into-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.restaurant-profile-details-tabs {
    border: solid;
    border-color: rgb(21, 21, 20);
    position: sticky;
    width: 650px;
    height: 40px;
    margin-left: -400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 2;
    color: rgb(111, 115, 123);
    font-size: 0.85rem;
    font-weight: 400;
}

.reservations-component {
    width: 350px;
    height: 450px;
    /* position: fixed; */
    position: absolute;
    border: solid;
    border-color: blue;
    margin-right: -705px;
}

.restaurant-reviews-container {
    border: solid;
    border-color: white;
    height: 400px;
}

.restaurant-profile-name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2d333f;
    /* Do I need this?? */
    line-height: 3.5rem;
    border-bottom: solid;
    border-color: rgb(216, 217, 219);
}

.restaurant-profile-general-info {
    border: solid;
    border-color: blue;
    height: 40px;
}

.profile-star {
    font-size: 1.2rem;
}

.restaurant-profile-general-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.space-to-left1 {
    margin-left: 3px;
}

.space-to-left2 {
    margin-left: 15px;
}
