/* TODO Add site wide styles */

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

dark-font {
    color: rgb(45, 51, 63)

}

/* medium-font {

} */

/* light-font {

} */