/* TODO Add site wide styles */

* {
    font-family: 'Source Sans Pro', sans-serif;
}

dark-font {
    color: rgb(45, 51, 63)
}

.footer-container {
    background-color: rgb(45, 51, 63);
    height: 700px;
}

@media screen and (min-width:1600px) {
    body {
        width: 1600px;
        margin: 0 auto;
        /* background-color: rgb(241, 242, 244); */
    }

    /* #root {
        background-color: white;
    } */
}

body {
    max-width: 1600px;
}

.linkedin-link {
    color: rgb(165, 166, 169);
}

.github-link {
    color: rgb(165, 166, 169);
}

.footer-container {
    color: gray;
    /* display: flex; */
}

.footer-top {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
}

.footer-top-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}