.restaurant-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.all-restaurants-container {
    /* max-width: 1500px; */
    margin-left: 10%;
    margin-right: 10%;
   
}

.above-restaurant-cards {
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: solid;
    border-color: rgb(241, 242, 244);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.verify-city {
    margin-left: 5px;
    margin-bottom: 4px;
    font-size: large;
}

.get-current-location {
    height: 30px;
    margin-left: 10px;
}

.get-current-location:hover {
    cursor: text;
}