.restaurant-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.all-restaurants-container {
    /* max-width: 1500px; */
    margin-left: 7%;
    margin-right: 6%;
   
}

.above-restaurant-cards {
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid;
    border-color: rgb(232, 233, 234);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.verify-city {
    margin-left: 5px;
    font-size: 0.84rem;
}

.current-location-arrow {
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
}

.current-location-arrow:hover {
    cursor: text;
}

.get-current-location {
    color: rgb(218, 54, 68);
    font-size: 0.86rem;
}

