.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-menu-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: 170px;
    height: 34px;
    margin-left: 27px;
    padding-right: 8px;
    margin-top: 5px;
}

.above-nav {
    height: 28px;
    background-color: rgb(241, 242, 244);
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.above-nav-img {
    height: 26px;
    width: 285px;
    margin-right: 10px;
}

.above-nav-img:hover {
    cursor: text;
}

.location-button {
    height: 26px;
    width: 125px;
    margin-bottom: 3px;
}

.location-line-break {
    margin-right: 13px;
    height: 30px;
}

.location-button:hover {
    cursor:not-allowed
}

.under-nav {
    height: 35px;
    border-top: solid;
    border-color: rgb(235, 235, 235);
    margin-bottom: 1px;
}

.under-nav-image {
    height: 33px;
    margin-left: 12px;
}

.under-nav-image:hover {
    cursor: text;
}

.sign-in-menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

