.navigation-menu {
    margin-right: 6px;
}

.sign-in-menu-items {
    height: 60px;
}

.profile-button-icon {
    height: 39px;
    width: 38px;
    margin-top: 4px;
}

.profile-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.upcoming-reservations-button {
    height: 30px;
    width: 35px;
    margin-right: 5px;
}

.notifications-button {
    height: 30px;
    width: 30px;
}

.notifications-button:hover {
    cursor: text;
}

.line-break {
    height: 36px;
    width: 17px;
    margin-right: 10px;
    margin-left: 10px;
}

.logged-in-search-button {
    height: 23px;
    width: 24px;
    padding-right: 17px;
    margin-top: 2px;
}

.logged-in-search-button:hover {
    cursor: text;
}

.sign-up-button {
    height: 35px;
    width: 76px;
    margin-right: 8px;
    border-radius: 3px;
    background-color: rgb(37, 127, 158);
    font-size: .9rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    border: rgb(201, 201, 201);
}

.sign-up-button:hover {
    cursor: pointer;
}

.sign-in-button:hover {
    cursor: pointer;
}

.sign-in-button {
    height: 35px;
    width: 76px;
    border-radius: 3px;
    font-size: .9rem;
    font-weight: 300;
    color: rgb(16, 16, 16);
    background-color: white;
    border: solid;
    border-width: thin;
    border-color: rgb(236, 234, 234);
    box-shadow: none;
}

.logged-out-search-button {
    height: 23px;
    width: 23px;
    padding-right: 15px;
    padding-left: 18px;
    padding-top: 4px;
}

.logged-out-search-button:hover {
    cursor: text;
}