.profile-drop-down-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    height: 300px;
    width: 340px;
    position: absolute;
    background-color: white;
    margin-top: 12px;
    margin-left: -356px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-radius: 2px;
}

.profile-drop-down-top {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: solid;
    border-color: rgb(240, 239, 239);
}

.profile-drop-down-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-around;
    font-size: 1rem;
}


.profile-drop-button {
    background-color: white;
    border: none;
    font-size: 1.05rem;
    font-weight: 400;
    color: rgb(80, 77, 77);
    margin-left: 20px;
}

/* .profile-drop-bottom > div:hover {
    background-color: gray;
} */

.profile-log-out-button {
    font-size: 1.05rem;
}

.greeting {
    font-size: 1.25rem;
    font-weight: bolder;
    margin-top: 22px;
    margin-left: 22px;
    color: rgb(68, 66, 66);
}

.learn-about-points {
    margin-left: 22px;
    margin-bottom: 20px;
}

.points-graph {
    margin-left: 22px;
}