.search-bar {
    height: 300px;
    background-color: rgb(26, 40, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: white;
    font-size: xx-large;
    margin-bottom: 80px;
}