.login-form {
    height: 325px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}

.sign-in-form-button {
    background-color: rgb(218, 54, 68);
    color: white;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    font-size: 1em;
    border: none;
    margin-top: 26px;
}

.sign-in-form-error-messages {
    font-size: 0.8rem;
    font-weight: 500;
    color: red;
}

