.reviews-container {
    border: solid;
    background-color: lightgreen;
    /* border-color: purple; */
    display: flex;
    flex-direction: row;
    height: 150px;
    /* justify-content: space-between; */
}

.review-container-left {
    border: solid;
    /* border-color: green; */
    background-color: lightpink;
    height: 100%;
    width: 120px;
}

.review-container-right {
    border: solid;
    background-color: lightblue;
    width: 100%;
    /* border-color: orange; */
}